body{
    background-color: #FCB31B;;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.calculator-body{
    background-color: #212121;
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    width: 375px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 0 black;
}

/* ----------------------------------------------------- */

.screen{
    height: 100px;
    width: 90%;;
    background-color: #3B3B3B;
    margin: 20px 0 10px 0;
    border-radius: 10px;
    box-shadow: inset 5px 5px 5px 0 black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
    font-family: 'VT323', monospace;
    letter-spacing: 1px;
}

.screen p{
    margin: 0;
}

.primary-screen{
    font-size: 1.8rem;
    padding: 20px 0 ;
}

.secondary-screen{
    font-size: 1.3rem; 
    padding-top: 17px;
    color: #E2E2E2;
}

/* ---------------------------------------------- */

.button-row{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
    width: 90%;
   margin: 5px;
}

button{
    height: 70px;
    flex: 1;
    font-size: 1.3rem;
    background-color: #616161;
    border: 0;
    color: #DFDFDF;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.2s ease;
    box-shadow: 5px 5px 5px 0px black;
    font-family: 'Orbitron', sans-serif;
}

.operator{
    background-color: #48d1cc;
    color: black;
}

.clear, .delete{
    background-color: #f08080;
    color: #303030;
    font-weight: 600;
    letter-spacing: 2px;
}

.equal{
    background-color: #33cb33;
}

.equal:hover{
    background-color: #79FF6B;
    color: #303030;
}

.bottom-row{
    margin-bottom: 15px;
}

.numbers:hover{
    background-color: #bdbdbd;
}

.clear:hover, .delete:hover{
    background-color: #FFB7B5;
}

.operator:hover{
    background-color: #89FFFF;
}

button:active{
    transform: scale(0.9);
}

/* ------------------------------------- */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
    font-weight: bold;
    margin: 15px 0 0 0 ;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Montserrat Alternates', sans-serif;
}

footer a{
    text-decoration: none;
    color: black;
}

footer .github{
    text-decoration: none;
    color: black;
    font-size: 25px;
    transition: all 0.3s ease-in-out;
}

footer .github:hover{
    transform: scale(1.25);
}